.smallAbout
{
    /* max-width: 500px;
    max-height: 700px; */
    width: 480px;
    height: 450px;
    overflow: hidden;
    transition: all .3s ease;
    background-color: aliceblue;
}

.smallAbout.expand
{
    background-color: aliceblue;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease; /* Smooth transition when expanding */
}

.smallAbout.expand .author-container
{
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from 
    {
        opacity: 0;
        transform: scale(0.9);
    }
    to 
    {
        opacity: 1;
        transform: scale(1);
    }
}

.author-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.author-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a soft shadow */
}

.author-info {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Add a shadow for card effect */
}

.author-name {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
}

.author-title {
    font-size: 1.2em;
    font-weight: normal;
    color: #666;
    margin-bottom: 20px;
}

.author-bio {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
}

.author-contact {
    margin-top: 20px;
}

.email-button {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.email-button:hover {
    background-color: #0056b3;
}

.email-button a {
    color: white;
    text-decoration: none;
}

.text-muted {
    font-size: 0.8em;
    color: #999;
}

.background-video
{
    position: absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    top:0;
    left:0;
    z-index: -1;
}

/* .masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
  }
  .masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
  } */